[submodule "autocomplete"]
	path = autocomplete
	url = https://github.com/withfig/autocomplete.git
[submodule "LanguageModels"]
	path = LanguageModels
	url = https://github.com/jechter/LanguageModels
